.container{
	width: 16.0rem;
	height: 30rem;
	background: #ffffff;
	/*overflow: auto;*/
	margin: 0 auto;
}

/*头部*/
.title{
	width: 16rem;
	height: 2.225rem;
	border-bottom: 0.025rem solid #f79b9b;
	background: #ff636c;
	
}
.titleico-lt{
	width: 2.0rem;
	height: 2.225rem;
	float: left;
	
}
.titleico-lt img{
	width: 0.5rem;
	height: 0.85rem;
	margin-left: 0.5rem;
	margin-top:0.75rem;
}
.titleico-rt{
	width: 2.5rem;
	height: 2.225rem;
	float: right;
	position: relative;

}
.titleico-rt img{
	width: 1.025rem;
	height: 0.75rem;
	display: block;
	float: right;
	margin-right: 0.5rem;
	margin-top:0.75rem;
}
/*导航栏右侧点击*/
.titleico-rt .titleico-rt-list{
	width: 4.7rem;
	height: 12.9rem;
	position: absolute;
	background: black;
	top:2rem;
	right: 0.2rem;
	opacity: 0.8;
	border-radius: 0.2rem;
	display: none;
	/*overflow: hidden;*/
	z-index: 999999;

}
.titleico-rt .titleico-rt-list a{
	display: block;
	height: 2.15rem;
	/*text-align: center;*/
	font-size: 0.6rem;
	color: #ffffff;
}
.gohome{
	display: block;
	/*width: 3.4rem;*/
	height: 0.8rem;
	/*margin: 0 auto;
*/	
	margin-left: 0.875rem;
	margin-top: 0.75rem;
	line-height: 0.7rem;
}
.gohome p{
	display: block;
	float: left;

}
.iconzu{
	display:block;
	width: 0.9rem;
	height: 0.8rem;
	background-image: url(../images/top-nav-show-ico.png);
	background-size: 0.9rem 5.0rem;
	float: left;
	margin-right: 0.25rem;
	
}
.border-down{
	overflow: hidden;
	border-bottom:1px solid #585858;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
/*箭头样式*/
/*向上*/
.triangle_border_up{
    display: block;
    position: absolute;
    width:0;
    height:0;
    border-width:0 1px 1px;
    border-style:dotted dotted solid dotted;
    border-color:transparent transparent black;/*透明 透明  灰*/  
    top: -0.4rem;
    left: 3.3rem;
}
/*消息提示小红点*/
.warn{
	width: 1.2rem;
	height: 0.6rem;
	line-height: 0.6rem;
	/*width: 0.9rem;
	height: 0.9rem;*/
	border-radius: 0.45rem;
	background: red;
	color: #ffffff;
	position: absolute;
	font-size: 0.4rem;
	text-align: center;
	/*line-height: 0.9rem;*/

	box-shadow: 0 0 0.2rem #fff;
}
.titleico-rt>.warn{
	top:0.125rem;
	right: 0.3rem;
}
.border-down>.warn{
	width: 1.2rem;
	height: 0.6rem;
	line-height: 0.6rem;
	top: 0.3rem;
	right: 0.4rem;
}
/*结束*/
.titlefont{
	/*width:4.875rem;*/
	height: 100%;
	float: left;
	margin-left: 3.5rem;
}
.titlefont p{
	width: 100%;
	height: 1.2rem;
	line-height:1.2rem; 
	font-size: 0.8rem;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-top:0.6rem;
	
}
.content{
	width:16rem;
	height: 7.25rem;
	background: #ffffff;
	overflow: hidden;
}
.contentcenter{
	width:15rem;
	/*height: 20.75rem;*/
	margin: 0 auto;
}
.content h3{
	display: block;
	width:10.75rem;
	margin:0 auto;
	text-align: center;
	line-height: 1.0rem;
	font-size: 0.6rem;
	color: #585858;
	margin-top: 1rem;
}
.content button{
	display: block;
	width: 8.0rem;
	height: 1.85rem;
	border: 0px;
	border-radius: 0.25rem;
	text-align: center;
	line-height: 1.85rem;
	color: #ffffff;
	font-size: 0.75rem;
	background: #ff636c;
	margin:0 auto;
	margin-top: 0.8rem;
}
