.container{
	width: 16.0rem;
	height: 30rem;
	background: #fff;
	/*overflow: auto;*/
	margin: 0 auto;
}

/*头部*/
.title{
	width: 16rem;
	height: 2.225rem;
	border-bottom: 0.025rem solid #f79b9b;
	background: #ff636c;

}
.titleico-lt{
	width: 2.0rem;
	height: 2.225rem;
	float: left;
	
}
.titleico-lt img{
	width: 0.5rem;
	height: 0.85rem;
	margin-left: 0.5rem;
	margin-top:0.75rem;
}
.titleico-rt{
	width: 2.5rem;
	height: 2.225rem;
	float: right;
	position: relative;

}
.titleico-rt img{
	width: 1.025rem;
	height: 0.75rem;
	display: block;
	float: right;
	margin-right: 0.5rem;
	margin-top:0.75rem;
}
/*导航栏右侧点击*/
.titleico-rt .titleico-rt-list{
	width: 4.7rem;
	position: absolute;
	background: black;
	top:2rem;
	right: 0.2rem;
	opacity: 0.8;
	border-radius: 0.2rem;
	display: none;
	z-index:9999999;
	/*overflow: hidden;*/
}
.titleico-rt .titleico-rt-list a{
	display: block;
	height: 2.15rem;
	/*text-align: center;*/
	font-size: 0.6rem;
	color: #ffffff;
	overflow:hidden;
}
.gohome{
	display: block;
	height: 0.8rem;
    margin-left: 0.875rem;
	margin-top: 0.75rem;
    line-height: 0.7rem;
}
.gohome p{
	display: block;
	float: left;

}
.iconzu{
	display:block;
	width: 0.9rem;
	height: 0.8rem;
	background-image: url(http://res.moyoyo.com/res/style/2015/images/tuiguang/top-nav-show-ico.png);
	background-size: 0.9rem 5.0rem;
	float: left;
	margin-right: 0.25rem;
	
}
.border-down{
	overflow: hidden;
	border-bottom:1px solid #585858;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
/*箭头样式*/
/*向上*/
.triangle_border_up{
    display: block;
    position: absolute;
    width:0;
    height:0;
    border-width:0 1px 1px;
    border-style:dotted dotted solid dotted;
    border-color:transparent transparent black;/*透明 透明  灰*/  
    top: -0.4rem;
    left: 3.3rem;
}
/*消息提示小红点*/
.warn{
	width: 1.2rem;
	height: 0.6rem;
	border-radius: 0.45rem;
	background: red;
	color: #ffffff;
	position: absolute;
	font-size: 0.4rem;
	text-align: center;
	line-height: 0.6rem;
	box-shadow: 0 0 0.2rem #fff;
}
.titleico-rt>.warn{
	top:0.125rem;
	right: 0.3rem;
}
.border-down>.warn{
	width: 1.2rem;
	height: 0.6rem;
	line-height: 0.6rem;
	top: 0.3rem;
	right: 0.4rem;
}
/*结束*/
.titlefont{
	/*width:4.875rem;*/
	height: 100%;
	float: left;
	margin-left: 3.5rem;
}
.titlefont p{
	width: 100%;
	height: 1.2rem;
	line-height:1.2rem; 
	font-size: 0.8rem;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-top:0.6rem;
	
}
.content{
	width:16rem;
	height: 20.75rem;
	background: #ffffff;
	overflow: hidden;
}
.contentcenter{
	width:15rem;
	/*height: 20.75rem;*/
	margin: 0 auto;
}
.content h3{
	text-align: center;
	line-height: 1.0rem;
	font-size: 0.65rem;
	color: #585858;
	margin-top: 0.25rem;
}
.content input{
	width: 15rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.0rem;
	font-size: 0.8rem;
	color: #000;
	border:0px;

	
}
.inputbd{
	width: 15rem;
	height: 1.5rem;
	text-align: center;
	font-size: 0.8rem;
	border-bottom: 0.05rem solid #c9c9c9;
	position: relative;
}
.closeip{
	position: absolute;
	top: 0.25rem;
	right: 0;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background: #cbcbcb;
	color: #fff;
	line-height: 0.9rem;
	display: none;
	z-index: 999;
}
.content p{
	line-height: 0.8rem;
	font-size: 0.7rem;
	margin-top: 0.5rem;
	color: #585858;
}
.content p span{
	display: inline-block;
	width: 0.85rem;
	height: 0.85rem;
	border-radius: 0.425rem;
	background: #fe8500;
	text-align: center;
	color: #ffffff;
	font-size: 0.7rem;
}
.inputok{
	border-bottom:0.05rem solid #fe4847;
}
.inputok .closeip{
	display: block;
}
/*新改的*/
.yesbt{
	width: 15rem;
	height: 1.85rem;
	border: 0px;
	border-radius: 0.25rem;
	text-align: center;
	line-height: 1.85rem;
	color: #ffffff;
	font-size: 0.75rem;
	background: #ff636c;
	margin-top: 0.5rem;
}
.nobt{
	width: 15rem;
	height: 1.85rem;
	border: 0px;
	border-radius: 0.25rem;
	text-align: center;
	line-height: 1.85rem;
	color: #fff;
	font-size: 0.75rem;
	background: #d2d2d2;
	margin-top: 0.5rem;
}

#yesipt{
	display: block;
	width: 1rem;
	height: 1rem;
	float: left;
	
}
.chosebox{
	font-size: 0.7rem;
	height: 1rem;
	margin-top: 0.5rem;
}
.chosebox a{
	display: block;
	height: 1rem;
	font-size: 0.7rem;
	margin-left: 0.3rem;
	float: left;
	color: #585858;
}
.chosebox span{
	color: #3d86ff;
}









/*修改placeholder字体*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;opacity:1;
}

input:-ms-input-placeholder{
    color: #ccc;opacity:1;
}

input::-webkit-input-placeholder{
    color: #ccc;opacity:1;
} 
